

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){

	.car_ind {
    right: 80% !important;
    bottom: 15% !important;
    display: block;
}

.car_ind [data-bs-target] {
    width: 9px !important;
    height: 9px !important;
}

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98){

	.car_ind {
    right: 80% !important;
    bottom: 20% !important;
    display: block;
}

.car_ind [data-bs-target] {
    width: 11px !important;
    height: 11px !important;
}

} 


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.car_ind {
    right: 80% !important;
    bottom: 30% !important;
    display: block;
}

.car_ind [data-bs-target] {
    width: 13px !important;
    height: 13px !important;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
	
}

@media (min-width: 1400px) and (max-width: 1699.98px) { 
	

}

@media (min-width: 1700px) and (max-width: 1999.98px) { 


}


/*Extra Etra large devices (large desktops, 1200px and up)*/
@media (min-width: 2000px) { 
	
}

